<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <form method="post">
            {% csrf_token %}
            <label for="owner_name">Ownername: </label>
            <select name="owner_name" id="owner_name" required="" >
                <option value="select">select</option>
                <option value="kistanna">kistanna</option>
            </select>
            <label for="date">Date: </label>
            <input type="date" name="date" id="date" required="">
            <label for="farmer_name">Farmer name: </label>
            <input type="text" name="farmer_name" id="farmer_name" required="">
            <label for="time">Time: </label>
            <input type="text" name="time" id="time" required="">
            <label for="rate">Rate: </label>
            <select name="rate" id="rate">
                <option value="select">select</option>
                <option value="2500">2500</option>
            </select>
            <label for="mobile_number">Mobile number</label>
            <input type="number" name="mobile_number" id="mobile_number">
            <button type="submit">Submit</button>
        </form>

       
    </div>
    {% for message in messages %}
    <p class="message">{{ message }}</p>
    {% endfor %}
</body>
</html>